### Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )
## • Print all elements from my_tuple on a new line (using for loop)
## • Create a new tuple by concatenating the first and last elements of my_tuple

### ANSWER NO 1

In [5]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )

for i in my_tuple:
    print(i)

In [23]:

new_tuple = my_tuple[0] + my_tuple[-1]

TypeError: can only concatenate tuple (not "list") to tuple

## Q2. inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
## 8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }
## • Add a new book in inventory using method and get all book titles using method
## • Remove a book if it&#39;s out of stock

In [22]:
inventory = {
    "the great gatsby":{"price:10.99","quantity:5"},
    "rich dad poor dad":{"price:8.99","quantity:8"},
    "harry potter":{"price:12.50","quantity:2"}

In [36]:
inventory.get("silver adventure","price:11.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2030168502.py, line 1)

In [24]:
inventory.keys()

dict_keys(['the great gatsby', 'rich dad poor dad', 'harry potter'])

In [30]:
inventory.pop("the great gatsby")

{'price:10.99', 'quantity:5'}

In [32]:
inventory

{'rich dad poor dad': {'price:8.99', 'quantity:8'},
 'harry potter': {'price:12.50', 'quantity:2'}}

## Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set. shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [3]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_items = set(shopping_list)
unique_shopping_list = list(unique_items)
print(unique_shopping_list)

['orange', 'apple', 'banana', 'grape']

## Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"} • Find students who are in Course A but not in Course B (difference) • Find students who are only in one of the two courses (symmetric difference)

In [5]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
students_in_a_not_b = course_a - course_b
print("Students in Course A but not in Course B:", students_in_a_not_b)
students_in_one_course_only = course_a ^ course_b
print("Students only in one of the two courses:", students_in_one_course_only)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'John', 'Eve', 'Charlie', 'Bob'}

## Q7Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

## Hint:

## Ask the user for a number between 1 and 10 .
## Use a for loop to iterate through the numbers from 1 to 10.
## For each iteration, calculate the product of the given number and the current number in the loop.
## Print the result in a readable format (e.g., 5 x 1 = 5).
## Ensure the program works correctly for any number between 1 and 10.

In [8]:
number = int(input("Enter a number between 1 and 10: "))
if 1 <= number <= 10:
    for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")
else:
    print("Please enter a valid number between 1 and 10.")

Enter a number between 1 and 10:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

### Q8Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be: 3^1 = 3 3^2 = 9 3^3 = 27 ... up to 3^10.

In [11]:
number = int(input("Enter a number: "))
i = 1
while i <= 10:
    power = number ** i
    print(f"{number}^{i} = {power}")
    i += 1

Enter a number:  4

4^1 = 4
4^2 = 16
4^3 = 64
4^4 = 256
4^5 = 1024
4^6 = 4096
4^7 = 16384
4^8 = 65536
4^9 = 262144
4^10 = 1048576

## Q9. Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished Output Hint: Enter a number to start the countdown: 3 3 2 1 0 Countdown finished!

In [14]:
number = int(input("Enter a number to start the countdown: "))
while number >= 0:
    print(number)
    number -= 1
print("Countdown finished!")

Enter a number to start the countdown:  8

8
7
6
5
4
3
2
1
0
Countdown finished!

## Q10. Write a Python program that takes an integer input n from the user and generates a right- angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row. Ensure the stars in each row are separated by spaces, and each row starts on a new line.

In [17]:
n = int(input("Enter the number of rows for the triangle: "))

for i in range(1, n + 1):
    print('*' * i)

Enter the number of rows for the triangle:  1

*