## QUESTION NO 1 :

In [2]:
age = int(input("enter your age here: "))
credit_score = int(input("enter your credit score here: "))
annual_income = int(input("enter your annual income here: "))
if age >= 18:
    if credit_score >= 650 and annual_income == 30000:
        print("Eligible for Loan")
    elif credit_score >= 700 and annual_income == 25000:
        print("Eligible For Loan")
    else:
        print("not Eligible for Loan")
else:
    print("you are under age")

enter your age here:  17
enter your credit score here:  400
enter your annual income here:  13000

you are under age

## QUESTION NO 2 :

In [12]:
age = int(input("enter your age here: "))
years_of_experience = int(input("enter your years of experience: "))
if age >= 18:
    if years_of_experience >= 10:
        print("you have a lot of experience")
    elif years_of_experience >= 5 and years_of_experience <= 9:
        print("you have a moderate experience")
    elif years_of_experience >= 2 and years_of_experience <= 4:
        print("you are relatively new")
    elif years_of_experience <= 2:
        print("you are just starting out")
else:
    print("you are underage")

enter your age here:  19
enter your years of experience:  1

you are just starting out

## QUESTION NO 3 :

In [42]:
import sys
a = 10
b = 10
c = 10.0
d = 'Hello'
e = 'Hello'

memory_sizes = []
def explore_variable(var):
    print(f"Memory address of {var}: {id(var)}")
    size = sys.getsizeof(var)
    memory_sizes.append((type(var).__name__, size))
    print(f"Memory size of {var} (type: {type(var).__name__}): {size} bytes")
variables = [a, b, c, d, e]
for var in variables:
    explore_variable(var)
least_memory_size_type = min(memory_sizes, key=lambda x: x[1])[0]
print("\nData type with the least memory size:", least_memory_size_type)

Memory address of 10: 140708309969624
Memory size of 10 (type: int): 28 bytes
Memory address of 10: 140708309969624
Memory size of 10 (type: int): 28 bytes
Memory address of 10.0: 2526897180976
Memory size of 10.0 (type: float): 24 bytes
Memory address of Hello: 2526883365296
Memory size of Hello (type: str): 46 bytes
Memory address of Hello: 2526883365296
Memory size of Hello (type: str): 46 bytes

Data type with the least memory size: float

## QUESTION NO 4 :

In [21]:
user_email = input("Enter Your Email Here: ")
if "@" in user_email and "." in user_email:
    print("Email Format Is Valid")
else:
    print("Email Format Is Not Valid")

Enter Your Email Here:  muhammadmessumali23@gmail.com

Email Format Is Valid

## QUESTION NO 5 :

In [3]:
x = (11,22.333,"apple",[1,2,3],("a","b"))
data_types = []
for elements in x:
    data_types.append(type(elements).__name__)

In [4]:
data_types

['int', 'float', 'str', 'list', 'tuple']

## QUESTION NO 6 :

In [25]:
active_users = [("alice", "admin"), ("bob", "user"), ("charlie", "moderator")]

def check_user(username):
    user_exists = any(user[0] == username for user in active_users)
    admin_reference = ("alice", "admin")
    is_admin = any(user is admin_reference for user in active_users)
    
    if user_exists:
        print(f"Username '{username}' exists in the list of active users.")
    else:
        print(f"Username '{username}' does not exist in the list of active users.")
    
    if user_exists and admin_reference:
        print(f"User '{username}' is the admin.")
    else:
        print(f"User '{username}' is not the admin.")


username = input("Enter a username: ")
check_user(username)

Enter a username:  alice

Username 'alice' exists in the list of active users.
User 'alice' is the admin.

## QUESTION NO 7 :

In [36]:
person1 = ['ahmed','sara','karachi','248']
person2 = person1
person3 = ['ali','nimra','karachi','209']
if person1 is person2:
    print("Relation between person 1 and person 2 : siblings")
else: print("relation between person 1 and person 2 : not siblings")
if person1 is person3:
    print("Relation between person 1 and person 3 : Cousin")
else:
    print("Relation between person 1 and person 3 : Not Cousin")

Relation between person 1 and person 2 : siblings
Relation between person 1 and person 3 : Not Cousin

## QUESTION NO 8 :

In [10]:
def get_book_details():
    
    title = input("Enter the book's title: ")
    author = input("Enter the book's author: ")
    year = input("Enter the year of publication: ")
    price = float(input("Enter the book's price: "))

    book_details = {
        "Title": title,
        "Author": author,
        "Year": year,
        "Price": price
    }

    print("\nStored Book Information:")
    print(f"Title: {book_details['Title']}")
    print(f"Author: {book_details['Author']}")
    print(f"Year of Publication: {book_details['Year']}")
    print(f"Price: {book_details['Price']} PKR")

get_book_details()

Enter the book's title:  urdu khaniyan
Enter the book's author:  ahmed nadeem qasmi
Enter the year of publication:  2018
Enter the book's price:  500

Stored Book Information:
Title: urdu khaniyan
Author: ahmed nadeem qasmi
Year of Publication: 2018
Price: 500.0 PKR

## QUESTION 9 :

In [13]:
offered_subjects = ("Math","English","Computer","Chemistry","Biology","physics")
chosen_subject = input("Enter Your Subject Here Which You Want To Check: ")
if chosen_subject in offered_subjects:
    print(f"The Subject {chosen_subject} is available")
else:
    print(f"The subject {chosen_subject} is not available")

Enter Your Subject Here Which You Want To Check:  Math

The Subject Math is available

## QUESTION NO 10 :

In [7]:
numbers = (1,3,2,4,3,7,8,6,4)
number_to_find = int(input("Enter The Number to Find The First Occurence in Tuple"))
if number_to_find in numbers:
    index =numbers.index(number_to_find)
    print(f"the First Occurence of {number_to_find} is at index {index}")
else:
    print(f"the number {number_to_find} is not in tuple")
number_to_count = int(input("Enter Your Number to count how mant times it appears: "))
count = numbers.count(number_to_count)
print(f"the number {number_to_count} is {count} time(s) in tuple")

Enter The Number to Find The First Occurence in Tuple 4

the First Occurence of 4 is at index 3

Enter Your Number to count how mant times it appears:  3

the number 3 is 2 time(s) in tuple